{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Basisploegen</h1>
        <p>
        <h2>Opvragen ploegen</h2>
            {% from "includes/_formhelpers.html" import render_field, render_radio_field, render_dropdown_field %}
            <form method="POST" action="">
                {% if current_user.is_authenticated %}
                    {{ basisploegen_form.hidden_tag() }}
                    <div class="form-group">
                        <table style="width:100%">
                            <tr>
                                <td style="width:20%">{{render_dropdown_field(basisploegen_form.keuze_seizoenen, class_="form-control")}}</td>
                                <td></td>
                                <td style="width:40%">{{render_dropdown_field(basisploegen_form.keuze_competities, class_="form-control")}}</td>
                                <td></td>
                                <td style="width:40%">{{render_dropdown_field(basisploegen_form.keuze_ploegen, class_="form-control")}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Speler 1</td>
                                <td></td>
                                <td>Naam speler 1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Speler 2</td>
                                <td></td>
                                <td>Naam speler 2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Speler 3</td>
                                <td></td>
                                <td>Naam speler 3</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Speler 4</td>
                                <td></td>
                                <td>Naam speler 4</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </form>
        </p>

        <p>
        <h2>Aanmaken nieuwe ploeg</h2>
            {% from "includes/_formhelpers.html" import render_field, render_radio_field, render_dropdown_field %}
            <form method="POST" action="{{url_for('aanmaak_basisploeg') }}">
                {% if current_user.is_authenticated %}
                    {{ aanmaak_basisploegen_form.hidden_tag() }}
                    <div class="form-group">
                        <table style="width:100%">
                            <tr>
                                <td style="width:20%">{{render_field(aanmaak_basisploegen_form.keuze_seizoen, class_="form-control")}}</td>
                                <td></td>
                                <td style="width:40%">{{render_dropdown_field(aanmaak_basisploegen_form.keuze_competities, class_="form-control")}}</td>
                                <td></td>
                                <td style="width:40%">{{render_dropdown_field(aanmaak_basisploegen_form.keuze_ploegen, class_="form-control")}}</td>
                                <td></td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>Speler 1:</td>
                                <td></td>
                                <td>{{render_dropdown_field(aanmaak_basisploegen_form.keuze_ploegen, class_="form-control")}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Speler 2:</td>
                                <td></td>
                                <td>{{render_dropdown_field(aanmaak_basisploegen_form.keuze_ploegen, class_="form-control")}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Speler 3:</td>
                                <td></td>
                                <td>{{render_dropdown_field(aanmaak_basisploegen_form.keuze_ploegen, class_="form-control")}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Speler 4:</td>
                                <td></td>
                                <td>{{render_dropdown_field(basisploegen_form.keuze_ploegen, class_="form-control")}}</td>
                                <td></td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td align="left" valign="bottom">
                                    <a type="button" class="btn btn-primary" href="{{ url_for('aanmaak_basisploeg') }}">Ploeg Toevoegen</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </form>
        </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../scripts/dynamicdropdown.js"></script>
{% endblock %}