{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welkom bij het ploegopstellingsprogramma van BC Tielt</h1>
        <p class="lead">Via deze website kan je je ploegopstellingsformulier maken. Om dit te kunnen doen moet je eerst inloggen als ploegkapitein</p>
        <p class="lead">De werkgroep competitie kan via deze website de basisploegen opstellen voor de competitie. Dit kan alleen maar als je inlogt als werbgroep lid</p>
        <p class="lead">Ten slotte is er nog de admin login om nieuwe gebruikers aan te maken en alle ledengegevens te controleren. Ook info verzamelen voor de subsidies zal mogelijk zijn</p>
    </div>
{% endblock %}