{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welkom bij de WebApp van BC Tielt</h1>
        <p class="lead">Via deze website kan je verschillende taken uitvoeren:</p>
        <p class="lead">Je kan automatisch een formulier voor de terugbetaling van het ziekenfonds downloaden dat vooraf is ingevuld</p>
        <p class="lead">Ploegkapiteins zullen kunnen inloggen op de website om een ploegopstellingsformulier te maken (nog in ontwikkeling)</p>
        <p class="lead">De werkgroep competitie kan via deze website de basisploegen opstellen voor de competitie. Dit kan alleen maar als je inlogt als werkgroep lid (nog in ontwikkeling)</p>
        <p class="lead">Later komen er misschien nog extra functies bij ...</p>
    </div>
{% endblock %}