{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Over de WebApp van BC Tielt</h1>
        <p>Deze webapp is ontwikkeld om taken binnen de club te automatiseren. De eerste taak is het invullen van
            terugbetalingsformulieren van de ziekenfondsen. Deze kunnen nu via de app gedownload worden. <br>
            In een volgende fase zal het ook mogelijk zijn om als ploegkapitein je wedstrijdformulier aan te maken via
            deze app.
        </p>
        <p>
            De app is nog in ontwikkeling en mocht je fouten ontdekken of problemen vinden kan je ze altijd melden aan
            secretaris@bctielt.be
        </p>
    </div>
{% endblock %}