{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Over het ploegopstellingsprogramma</h1>
        <p>Deze app is gebouwd met Python en Flask framework door Koen Vanhastel.
            De bedoeling is om op een automatische manier online het ploegopstellingsformulier te kunnen maken
            door in te loggen op badminton vlaanderen en daar de gegevens te dpwnloaden. De competitieverantwoordelijken
            kunnen basisploegen opmaken per seizoen...
        </p>
    </div>
{% endblock %}